# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# R
.Rhistory
.RData
.Rproj.user/

# Analysis outputs
results/*
!results/.gitkeep
!results/README.md
data/*
!data/.gitkeep
!data/README.md

# System files
.DS_Store
Thumbs.db
